.home {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;

    .home-option {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .home-container {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 22px;

        .arco-list-item {
            padding: 5px 0 !important;
        }

    }

}
