.DS_Store
node_modules
/dist
electron/node_modules
electron/html
electron/out
src-edge/es-client
chrome.crx
chrome.pem
src-firefox/es-client


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stats.html

#utools
/utools

# 服务器
src-server/dist
/src-server/public
src-server/node_modules
/src-server/es-client.db

# 想天浏览器
/dist-ts

# vscode
/src-vscode/node_modules
/src-vscode/out
/src-vscode/.vscode-test-web
/src-vscode/es-client
*.vsix