.es-awesome-json-theme {
    background-color: var(--color-bg-2);
    white-space: nowrap;
    color: var(--color-text-1);
    font-size: 14px;
    font-family: JetBrainsMono, Console, Menlo, Courier, monospace;

    .jv-ellipsis {
        color: #999;
        background-color: #eee;
        display: inline-block;
        line-height: 0.9;
        font-size: 0.9em;
        padding: 0px 4px 2px 4px;
        border-radius: 3px;
        vertical-align: 2px;
        cursor: pointer;
        user-select: none;
    }

    .jv-button {
        color: #49b3ff;
    }

    .jv-key {
        color: var(--color-text-1)
    }

    .jv-item {
        &.jv-array {
            color: #111111
        }

        &.jv-boolean {
            color: #fc1e70
        }

        &.jv-function {
            color: #067bca
        }

        &.jv-number {
            color: #fc1e70
        }

        &.jv-number-float {
            color: #fc1e70
        }

        &.jv-number-integer {
            color: #fc1e70
        }

        &.jv-object {
            color: var(--color-text-1);
        }

        &.jv-undefined {
            color: #e08331
        }

        &.jv-string {
            color: #42b983;
            word-break: break-word;
            white-space: normal;

            a {
                color: rgb(var(--link-6));
            }
        }
    }

    .jv-code {
        .jv-toggle {
            &:before {
                padding: 0px 2px;
                border-radius: 2px;
            }

            &:hover {
                &:before {
                    background: #eee;
                }
            }
        }
    }
}

pre {
    font-family: JetBrainsMono, Console, 'Courier New', Courier, monospace;
}