// 全局配置

@font-face {
    font-family: JetBrainsMono;
    src: url('../assets/JetBrainsMono-Regular.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar { /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 3px;
    background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 3px;
    background: var(--container-color);
}

html, body {
    height: 100%;
}

code {
    font-family: JetBrainsMono consolas monospace sans-serif;
    letter-spacing: 1px;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#navigation {
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    width: 184px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);
    overflow: hidden;

    &.full-screen {
        width: 50px;
    }

    .logo {
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        height: 56px;
        cursor: pointer;
        line-height: 56px;
        padding-left: 16px;

        &:hover {
            background-color: var(--hover-color);
        }

        &.active {
            color: var(--active-color);
        }
    }

    .dark {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .version {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
        font-size: 14px;

        .el-link {
            color: var(--text-color);
        }
    }

}

#index {
    position: absolute;
    top: 16px;
    left: 216px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);
    display: flex;
    padding: 0 9px;

    &.full-screen {
        display: none;
    }


    .el-button {
        margin-left: 14px;
        margin-top: 9px;
    }
}

#title {
    position: absolute;
    top: 16px;
    left: 538px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);
    display: flex;

    &.full-screen {
        display: none;
    }

    .cluster-name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }

    .server-status {
        margin: 0 10px;
    }

}

#menu {
    position: fixed;
    top: 16px;
    right: 16px;
    height: 50px;
    display: flex;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);

    &.full-screen {
        display: none;
    }

    .menu-item {
        width: 50px;
        padding: 13px 13px;
        cursor: pointer;

        .el-icon {
            color: var(--text-color);
        }
    }
}

#main {
    position: fixed;
    top: 82px;
    left: 216px;
    right: 16px;
    bottom: 16px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);

    &.full-screen {
        top: 16px;
        left: 82px;
    }
}

.url-copy {
    display: inline;
    line-height: 22px;
    background-color: var(--hover-color);
    color: var(--text-color);
    border-radius: 11px;
    padding: 1px 5px;
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
}


.es-dialog .el-dialog__body {
    height: 70vh;
    overflow: auto;
}

