@media (max-width: 1200px) {
    .senior-search {
        .senior-search-card {
            .senior-search-card__header {
                .senior-search-link {
                    width: 200px !important;
                }
            }
        }
    }
}

.senior-search {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    .senior-main {
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;

        .side {
            display: flex;
            height: 100%;

            .option {
                display: block;
                width: 32px;

                .arco-btn {
                    margin-left: 0;
                }
            }

            .editor {
                width: calc(100% - 32px);
                height: 100%;
            }
        }

    }


    .senior-display {
        width: calc(100% - 30px);
        height: 100%;
        margin: 0 15px;
        position: relative;
        overflow: hidden;
        .senior-display-tabs {

        }
        .senior-display-content {
            position: absolute;
            top: 48px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

}