@media (max-width: 1200px) {
    .senior-search {
        .senior-search-card {
            .senior-search-card__header {
                .senior-search-link {
                    width: 200px !important;
                }
            }
        }
    }
}

.senior-search {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    .senior-search-tabs {
        height: 50px;

    }

    .senior-main {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;

        .side {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;


            .controller {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;

                &.show-tabs {
                    top: 55px;
                }

                .option {
                    width: 30px;
                    height: 100%;

                    .el-icon {
                        cursor: pointer;
                        padding: 3px;
                        height: 24px;
                        width: 24px;
                        border-radius: 3px;

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }

                    .run {
                        color: var(--active-color);
                    }

                    .save {
                        margin-top: 10px;
                        color: var(--el-color-success);
                    }

                    .format {
                        margin-top: 10px;
                        color: var(--el-color-info);
                    }

                    .view {
                        margin-top: 10px;
                        color: var(--el-color-danger);
                    }

                    .tab {
                        margin-top: 10px;
                        color: var(--el-color-primary);
                    }

                    .help {
                        margin-top: 10px;
                    }
                }

                .editor {
                    width: calc(100% - 30px);
                    height: 100%;
                }
            }

        }


        .sep {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 5px;
            background-color: var(--border-color);
            cursor: e-resize;
            &:hover {
                background-color: var(--active-color);
            }
        }

        .senior-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: auto;

            .senior-display-tabs {
                padding: 0 15px;
            }

            .senior-display-scroll {
                height: calc(100% - 54px);
                margin: 0 15px;
            }

        }
    }

}