// 全局配置

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.es-dialog .el-dialog__body {
    height: 70vh;
    overflow: auto;
}

html, body {
    height: 100%;
}
body[theme-mode=light] {
    --bg-color: #f2f2f2;
    --text-color: #000000;
    --container-color: #ffffff;
    --hover-color: #ecf5ff;
    --disable-color: #888888;
    --shadow-color: rgba(0, 0, 0, .12);
}

// 主题变量
body[theme-mode=dark] {
    --bg-color: #17191a;
    --text-color: #ffffff;
    --container-color: #26292c;
    --hover-color: #414343;
    --disable-color: #808080;
    --shadow-color: var(--container-color);

    // 重写element-plus
    --el-text-color-primary: var(--text-color);
    --el-text-color-regular: var(--disable-color);
    --el-fill-color-light: var(--container-color);
    --el-bg-color: var(--bg-color);
    --el-fill-color-blank: var(--el-bg-color);
    --el-bg-color-overlay: var(--el-bg-color);
    --el-fill-color: var(--el-bg-color);
    --el-disabled-bg-color: var(--hover-color);

    // element-plus

    .el-dialog {
        --el-dialog-bg-color: #26292c !important;
    }

    .el-card {
        --el-card-bg-color: #26292c !important;
    }

    .el-dropdown__popper {
        --el-dropdown-menuItem-hover-fill: var(--bg-color);
    }

    .el-button {
        --el-button-hover-bg-color: var(--hover-color);
    }

    .el-backtop {
        --el-backtop-bg-color: var(--container-color);
        --el-backtop-hover-bg-color: var(--hover-color);
    }

    .el-select-v2__combobox-input {
        color: var(--text-color);
    }

    // jsonViewer

    .jv-container.jv-light {
        background-color: var(--bg-color);
        color: var(--text-color);

        .jv-item.jv-object {
            color: var(--text-color) !important;
        }

        .jv-key {
            color: var(--text-color) !important;
        }

        .jv-ellipsis {
            background-color: var(--container-color);

        }

        .jv-item.jv-array {
            color: var(--text-color) !important;

        }
    }

    // vxe

    #data-browse {
        .condition {
            .condition-item {
                .input {
                    background-color: var(--container-color);
                    color: var(--text-color);
                }
            }
        }
    }

    .vxe-table--render-default {
        color: var(--text-color);

        .vxe-table--body-wrapper {
            background-color: var(--container-color);
        }
    }

    .vxe-table--render-default.border--full {
        .vxe-table--header-wrapper {
            background-color: var(--container-color);
        }
    }

    .vxe-table {
        .vxe-table--header-wrapper {
            color: var(--el-text-color-regular);
        }
    }

    .vxe-pulldown {
        color: var(--text-color);
    }

    .vxe-pulldown--panel {
        color: var(--text-color);

        .vxe-pulldown--wrapper {
            background-color: var(--container-color);
        }
    }

    .vxe-table--render-default .vxe-body--row.row--current {
        background-color: var(--hover-color);

    }

}

#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#navigation {
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    width: 184px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);
    overflow: hidden;

    &.full-screen {
        width: 50px;
    }

    .logo {
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        height: 56px;
        cursor: pointer;
        line-height: 56px;
        padding-left: 16px;

        &:hover {
            background-color: var(--hover-color);
        }

        &.active {
            color: var(--el-color-primary);
        }
    }

    .version {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
        font-size: 14px;

        .el-link {
            color: var(--text-color);
        }
    }
}

#index {
    position: absolute;
    top: 16px;
    left: 216px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);
    display: flex;

    &.full-screen {
        display: none;
    }

    .el-input {
        margin-left: 5px;
    }

    .el-button {
        margin-left: 14px;
        margin-top: 9px;
    }

    .cluster-name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }

    .server-status {
        margin: 0 10px;
    }
}

#menu {
    position: fixed;
    top: 16px;
    right: 16px;
    height: 50px;
    display: flex;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);

    &.full-screen {
        display: none;
    }

    .menu-item {
        width: 50px;
        padding: 13px 13px;
        cursor: pointer;

        .el-icon {
            color: var(--text-color);
        }
    }
}

#main {
    position: fixed;
    top: 82px;
    left: 216px;
    right: 16px;
    bottom: 16px;
    box-shadow: 0 0 12px var(--shadow-color);
    background-color: var(--container-color);

    &.full-screen {
        top: 16px;
        left: 82px;
    }
}
